# Dependencies
node_modules/
backend/venv/
backend/__pycache__/

# Environment variables
.env
*.env

# Build files
frontend/build/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
